@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgba(49, 49, 49, 0.6);
  border-radius: 10px;
}

.background {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 4 4'%3E%3Cpath fill='%23FFFFFF' fill-opacity='0.02' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

/* Glowing Cards by Leon van Zyl (https://codepen.io/leonvanzyl/pen/jOKwmEw?editors=0110) */
.card::before {
  content: "";
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 500ms;
  position: absolute;
  border-radius: inherit;
  z-index: 3;
  top: 0px;
  left: 0px;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
}

.card:hover::before {
  opacity: 1;
}
