@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgba(49, 49, 49, 0.6);
  border-radius: 10px;
}
